<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

  <h1>欢迎 {{ request.session.user_info.name }} 使用：Sky City API</h1>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">API</th>
      <th scope="col">LINK</th>
      <th scope="col">TEXT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>admin/</td>
      <td><a href="admin/">admin/</a></td>
      <td>http://127.0.0.1:8000/admin/</td>
    </tr>
    <tr>
      <td>login/</td>
      <td><a href="login/">login/</a></td>
      <td>http://127.0.0.1:8000/login/</td>
    </tr>
    <tr>
      <td>intro</td>
      <td><a href="intro/">intro/</a></td>
      <td>http://127.0.0.1:8000/intro</td>
    </tr>
    <tr>
      <td>api/v1/version/</td>
      <td><a href="api/v1/version/">api/v1/version/</a></td>
      <td>http://127.0.0.1:8000/api/v1/version/</td>
    </tr>
    <tr>
      <td>api/v1/course/</td>
      <td><a href="api/v1/course/">api/v1/course/</a></td>
      <td>http://127.0.0.1:8000/api/v1/course/</td>
    </tr>
    </tr>
    <tr>
      <td>coupon</td>
      <td><a href="api/v1/coupon/">api/v1/coupon/</a></td>
      <td>http://127.0.0.1:8000/api/v1/coupon/</td>
    </tr>
    <tr>
      <td>CouponGlobal</td>
      <td><a href="api/v1/coupon_global/">api/v1/coupon_global/</a></td>
      <td>http://127.0.0.1:8000/api/v1/coupon_global/</td>
    </tr>
    <tr>
      <td>api/v1/degree_course/</td>
      <td><a href="api/v1/degree_course/">api/v1/degree_course/</a></td>
      <td>http://127.0.0.1:8000/api/v1/degree_course/</td>
    </tr>
    <tr>
      <td>api/v1/shoppingcar/</td>
      <td><a href="api/v1/shoppingcar/">api/v1/shoppingcar/</a></td>
      <td>http://127.0.0.1:8000/api/v1/shoppingcar/</td>
    </tr>
    <tr>
      <td>payment</td>
      <td><a href="api/v1/payment/">api/v1/payment/</a></td>
      <td>http://127.0.0.1:8000/api/v1/payment/</td>
    <tr>
      <td>Settlement</td>
      <td><a href="api/v1/settlement/">api/v1/settlement/</a></td>
      <td>http://127.0.0.1:8000/api/v1/settlement/</td>
    </tr>
  </tbody>
</table>




</div>

    <script src="/static/js/jquery.min.js"></script>
    <script>

    </script>
</body>
</html>